<% # optimizely code %>
<% content_for :optimizely do %>
	 <script src="//cdn.optimizely.com/js/155080487.js"></script>
<% end %>

<% # title and description for seo %>
<% content_for :seotags do %>
	<title>CardCred: The Top Credit Cards for Bad Credit</title>
	<meta name="description" content="Compare the top Credit Cards for Bad Credit. Find and sign up for the one best for you. Get started now."/>
<% end %>

<div id = "lpWrapper">	

	<header>
		<div class = "lpHeader"><%= image_tag("logo-sm.png")%></div>
		<div class = "lpTopLink"><%= link_to("See Full Ranking Table", secureds_path, :target => "_blank") %></div>		
	</header>
		
	<section id="lpMainContent">	

		<div class="topCardBanner">Sign Up for the <b>Top Card for Bad Credit</b>. No Credit Requirements!</div>
		<div class="topCardBox">
			<div class="topCardBoxLeft">
				<h1>Most Popular Secured Credit Card</h1>
				<h2>First Progress Platinum Elite Secured Card</h2>
				<ul>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;Low $29 Annual Fee. Bad Credit OK for Approval!</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;Credit Card Secured by Fully-Refundable Deposit.</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;Build credit. Reporting to All Three National Bureaus.</li>
				</ul>
				<div><%= link_to("SIGN UP", {:controller => 'partners', :action => 'go', :id => '37', :page=>@page}, :class => "compareTopCardApplyTop", :target => "_blank") %></a></div>
			</div>
			<div class="topCardBoxMiddle">
				<%= link_to({:controller => 'partners', :action => 'go', :id => '37', :page=>@page}, :class => "topPickImage",:target => "_blank") do %>
						
								<div class="topPickText">2013<br />Top Pick</div>					
						
				<% end %>		
				<div class="topCardBoxMiddleText"></div>					
			</div>
			<div class="topCardBoxRight"><%= link_to(image_tag("lp/badcredit/firstprogress.png"), {:controller => 'partners', :action => 'go', :id => '37', :page=>@page}, :target => "_blank") %></div>	
		</div>		

		<div class="lpBottomSection">	
			<div class="compareCards">
				<div class="compareTopCardBanner">Compare <b>Top Cards for Bad Credit</b></div>
				<div class="compareCardsTable lpBadCredit">	
					<div class="compareTopCardRow">
						<div class="compareTopCardRowC1"><%= image_tag("secured/AppliedZero.gif") %></div>
						<div class="compareTopCardRowC2">
							<h3>Applied Bank Platinum Zero® Secured Visa®.</h3>
							<ul>
								<li>Reports to bureaus. Build Credit!</li>
								<li>0% APR for life. Just simple flat monthly fee.</li>
								<li>No credit requirements. Card secured by deposit.</li>
							</ul>	
						</div>
						<div class="compareTopCardRowC3"><%= link_to("SIGN UP", {:controller => 'partners', :action => 'go', :id => '36', :page=>@page}, :class => "compareTopCardApply", :target => "_blank") %></div>
					</div>

					<div class="compareTopCardRow">
						<div class="compareTopCardRowC1"><%= image_tag("prepaid/42_ACE_2010_Gunmetal_Visa_flat.jpg") %></div>
						<div class="compareTopCardRowC2">
							<h3>ACE Elite™ Visa® Prepaid Card</h3>
							<ul>
								<li>Free withdrawals at ACE Stores with direct deposit.</li>
								<li>No credit check! </li>
								<li>Free $10 purchase overspend cushion.</li>
							</ul>	
						</div>
						<div class="compareTopCardRowC3"><%= link_to("SIGN UP", {:controller => 'partners', :action => 'go', :id => '53', :page=>@page}, :class => "compareTopCardApply", :target => "_blank") %></div>
					</div>
					<div class="compareTopCardRowLast">
						<div class="compareTopCardRowC1"><%= image_tag("prepaid/upside-visa-prepaid-card.gif") %></div>
						<div class="compareTopCardRowC2">
							<h3>UPside Visa® Prepaid Card</h3>
							<ul>
								<li>Low $0.99 monthly fee if you load $500/month.</li>
								<li>Lower than average ATM withdrawal fees.</li>
								<li>Receive cash back through a rewards program.</li>
							</ul>	
						</div>
						<div class="compareTopCardRowC3"><%= link_to("SIGN UP", {:controller => 'partners', :action => 'go', :id => '80', :page=>@page}, :class => "compareTopCardApply", :target => "_blank") %></div>
					</div>
					</div>
				</div>
			
			<div class="lpCardDetails">
				<div class="cardBestForBanner">Is <b>First Progress</b> Best for Me?</div>
				<div class="cardDetailsTable lpBadCredit">
					<div class="lpCardDetailsRow">
						<h3>The <%= link_to("First Progress Secured", {:controller => 'partners', :action => 'go', :id => '37', :page=>@page}, :target => "_blank") %> is our top pick because:</h3>
						<ul>
							<li>Pay off your balances off and pay no interest.</li>
							<li>Responsible usage can build and improve your credit.</li>
						</ul>	
						<p>However, there are a number of reasons why you might prefer a different card.</p>
					</div>
					<div class="lpCardDetailsRow">
						<h3><%= image_tag("lp/CompareDesign/circlecross-icon.png", :size => "10x10") %> Carry a balance on your credit card?</h3>
						<p>The <%= link_to("Applied Bank Platinum", {:controller => 'partners', :action => 'go', :id => '36', :page=>@page}, :target => "_blank") %> is a good option with 0% APR for life. It's a real credit card so builds credit and reports to the major bureaus.</p>
						<p><%= link_to("Sign Up Applied Bank Platinum >>", {:controller => 'partners', :action => 'go', :id => '36', :page=>@page}, :target => "_blank") %></p>
					</div>
					<div class="lpCardDetailsRowLast">
						<h3><%= image_tag("lp/CompareDesign/circlecross-icon.png", :size => "10x10") %> Make cash withdrawals or low monthly fee?</h3>
						<p>The <%= link_to("ACE Elite", {:controller => 'partners', :action => 'go', :id => '53', :page=>@page}, :target => "_blank") %> is a great option as it has free cash withdrawals at ACE stores while the <%= link_to("UPside Visa Prepaid", {:controller => 'partners', :action => 'go', :id => '80', :page=>@page}, :target => "_blank") %> has a low monthly fee and rewards program.</p>
						<p><%= link_to("Sign up for the ACE Elite Card >>", {:controller => 'partners', :action => 'go', :id => '53', :page=>@page}, :target => "_blank") %></p>
						<p><%= link_to("Sign up for the UPside Prepaid Card >>", {:controller => 'partners', :action => 'go', :id => '80', :page=>@page}, :target => "_blank") %></p>
				</div>
			</div>
		</div>
	 
	</section>
	 
  	<%= render(:partial => "shared/lpfooter")%> 	
	
</div>
