<% # title and description for seo %>
<% content_for :seotags do %>
	<title>CardCred: The Top Credit Cards for Bad Credit</title>
	<meta name="description" content="Support your team and get one of the best rewards cards out there. "/>
  <meta name="Viewport" content="width=1024" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />

<% end %>

<div class="nflBody">
	<div id="nflFloater"></div>
	<div class="nflMain">
		<div class="nflContainer">
			<div class="nflPick">
				<span class="nflTop"></span>
				
				<div class="nflMiddle">
					<div class="nflHeading">
						<h1><span class="nflFirst">32 Teams.</span> <span class="nflSecond">Only one matters.</span></h1>
					</div>
					<div class="nflSubhead">
						<h2><span class="nflSubheadFirst">Click your team</span> and start exploring</h2>
					</div>
				
					<div class="nflCards">
						<div class="nflFirst nflRow">
							<%= link_to("Arizona Cardinals", {:controller => 'partners', :action => 'go', :id => '92', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Atlanta Falcons", {:controller => 'partners', :action => 'go', :id => '93', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Baltimore Ravens", {:controller => 'partners', :action => 'go', :id => '94', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Buffalo Bills", {:controller => 'partners', :action => 'go', :id => '100', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Carolina Panthers", {:controller => 'partners', :action => 'go', :id => '101', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Chicago Bears", {:controller => 'partners', :action => 'go', :id => '102', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Cincinnati Bengals", {:controller => 'partners', :action => 'go', :id => '103', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Cleveland Browns", {:controller => 'partners', :action => 'go', :id => '104', :page=>@page}, :class => "nflCard", :target => "_blank") %>
						</div>
						<div class="nflSecond nflRow">
							<%= link_to("Dallas Cowboys", {:controller => 'partners', :action => 'go', :id => '105', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Denver Broncos", {:controller => 'partners', :action => 'go', :id => '106', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Detroit Lions", {:controller => 'partners', :action => 'go', :id => '107', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Green Bay Packers", {:controller => 'partners', :action => 'go', :id => '108', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Houstin Texans", {:controller => 'partners', :action => 'go', :id => '109', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Indianapolis Colts", {:controller => 'partners', :action => 'go', :id => '110', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Jacksonville Jaguars", {:controller => 'partners', :action => 'go', :id => '111', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Kansas City Chiefs", {:controller => 'partners', :action => 'go', :id => '112', :page=>@page}, :class => "nflCard", :target => "_blank") %>
						</div>
						<div class="nflThird nflRow">
							<%= link_to("Miami Dolphins", {:controller => 'partners', :action => 'go', :id => '113', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Minnesota Vikings", {:controller => 'partners', :action => 'go', :id => '114', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("New England Patriots", {:controller => 'partners', :action => 'go', :id => '115', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("New Orleans Saints", {:controller => 'partners', :action => 'go', :id => '116', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("New York Giants", {:controller => 'partners', :action => 'go', :id => '118', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("New York Jets", {:controller => 'partners', :action => 'go', :id => '119', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Oakland Raiders", {:controller => 'partners', :action => 'go', :id => '123', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Philadelphia Eagles", {:controller => 'partners', :action => 'go', :id => '121', :page=>@page}, :class => "nflCard", :target => "_blank") %>
						</div>
						<div class="nflFourth nflRow">
							<%= link_to("Pittsburgh Steelers", {:controller => 'partners', :action => 'go', :id => '122', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("San Diego Chargers", {:controller => 'partners', :action => 'go', :id => '123', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("San Francisco 49ers", {:controller => 'partners', :action => 'go', :id => '124', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Seattle Seahawks", {:controller => 'partners', :action => 'go', :id => '125', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("St. Louis Rams", {:controller => 'partners', :action => 'go', :id => '126', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Tampa Bay Buccaneers", {:controller => 'partners', :action => 'go', :id => '127', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Tennesse Titans", {:controller => 'partners', :action => 'go', :id => '128', :page=>@page}, :class => "nflCard", :target => "_blank") %>
							<%= link_to("Washington Redskins", {:controller => 'partners', :action => 'go', :id => '135', :page=>@page}, :class => "nflCard", :target => "_blank") %>
						</div>
					</div>
					
					<div class="nflDescription">
						<div class="nflFeatures">
							<div class="nflFeaturesTitle">	
								Card Basics
							</div>	
							<div class="nflFeaturesDescription">
							<ul>
								<li>1% Cashback Rewards		</li>
								<li>No Annual Fee</li>
								<li>0% Intro APR for 12 months	</li>
							</ul>	
						</div>
						</div>
						
						<div class="nflFeatures">
							<div class="nflFeaturesTitle">
								Sample Rewards
							</div>
							<div class="nflFeaturesDescription">	
								<ul>
									<li>Post Game Press Conferences	</li>
									<li>Lower Level Game Tickets 			 	</li>
									<li>Golf with Player of the Week	</li>
								</ul>
							</div>	
						</div>	
				</div>
				</div>
				
				<span class="nflBottom"></span>
			</div>
		</div>
	</div>
</div>