<h1>The Simple Card</h1>
<p>The Simple Card helps to simplify your management of your credit cards. We provide an area to store your credit card details such as contact phone numbers. This way if you lose your card you can easily have all the numbers stored in one place to cancel your card. We do not capture credit card numbers.</p>
<p>In addition, we let you store balance and rate information. This helps us match you with cards that may save you money. If we find a match we will place the offer on your page the next time you login.</p>
<p>We hope you like The Simple Card and find our service useful!</p>
<p></p>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
