<% # title and description for seo %>
<% content_for :seotags do %>
<title>Best Secured Credit Cards: In-Depth Reviews and Independent Rankings</title>
<meta name="description" content="Detailed, independent reviews and rankings of the best secured cards. The Payday Hound provides more detailed reviews of secured credit cards than anyone else we know."/>
<% end %>

<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/securedfinder")%>
    <%= render(:partial => "shared/sidebar")%>


</aside>


<section id="mainContent">
  <h1>Secured Credit Cards</h1> 
 	<p>Secured credit cards can be a great way to build and repair credit ratings. To learn more visit <%= link_to('What is a Secured Card', "http://www.thepaydayhound.com/secured-credit-cards/") %> and <%= link_to('The Best Secured Cards.', "http://www.thepaydayhound.com/bad-credit-credit-card-secured-card/") %> Use our industry-first, Secured Card Cost Calculator to the left to help you find the secured card best for you.</p>

  <span id = "securedCards" class = "jsData"><%= @secureds.size %></span>
  <span id = "duration" class = "jsData"><%= @duration %></span>
  <span id = "purBal" class = "jsData"><%= @pur_balance %></span>
  <span id = "cashBal" class = "jsData"><%= @cash_balance %></span>
 
  <table id = "securedCardTable" class="cardListing tablesorter" summary="full lender list">
    <thead>    
      <tr class="securedTableHeader">
        <th><div class = "headCost">Est. Cost/Month</div></th>
        <th><div class = "headName">Company Name</div></th>
        <th class = "headDesc">Description</th>
        <th><div  class = "headApply">Apply</div></th>   
      </tr>
    </thead>
    <tbody>    
      <% @secureds.each.with_index do |s,i| %>
      <tr>
        <td class = "cardCost" id = <%="cardCost#{i}" %>><%= number_to_currency((((@duration/12.00).ceil*s.annual_fee)+(@duration*s.monthly_fee)+((@duration/12.0)*365.0*(@pur_balance*s.purchase_apr/100/365 + @cash_balance*s.cash_apr/100/365)))/@duration, :precision => 2) %></td>
        <td colspan = 3 class = "cardInfo">
            <table width = 100% >
              <tr>    
                <td class = "cardInfoName">
                    <div><%= link_to(image_tag("secured/#{s.image_file}", :alt => s.name ),  {:controller => 'partners', :action => 'go', :id => s.partner_id, :page=>@page}, :target => "_blank") %></div>
                    <div class = "cardNameUnderImage"><%= s.name %></div>
                </td>
                <td class = "cardInfoDesc">
                  <div><%= s.first_comment %></div>
                  <div><%= s.second_comment %></div>
                  <div><%= s.third_comment %></div>
                  <div><a href=<%="javascript:Tog(#{s.id})" %>>More Info</a></div>
                </td>  
                <td class = "cardInfoApply">
                    <%= link_to("APPLY", {:controller => 'partners', :action => 'go', :id => s.partner_id, :page=>@page}, :class => "cardApplyButton", :target => "_blank") %>
                  <div class = "cardInstantDecision"><%= !s.inst_decision? ? "":link_to("instant decision", {:controller => 'partners', :action => 'go', :id => s.partner_id, :page => @page}, :target => "_blank") %></div>
                </td>
              </tr>    
              <tr>
                <td colspan = 3>
                    <table id = "<%=s.id %>" class = "cardDetails" style="overflow:hidden;display:none">
                      <tr>
                        <td class = "jsData">
                          <span id = <%="annualFee#{i}" %>><%= s.annual_fee.nil? ? 0 : s.annual_fee %></span>
                          <span id = <%="monthlyFee#{i}" %>><%= s.monthly_fee.nil? ? 0 : s.monthly_fee %></span>
                          <span id = <%="purAPR#{i}" %>><%= s.purchase_apr %></span>
                          <span id = <%="cashAPR#{i}" %>><%= s.cash_apr %></span>
                        </td>                
                      </tr>     
                      <tr>
                        <td>
                          <div class = "cardName"><%= raw(s.card_name) %></div>
                          <div><b>Issuer:</b> <%= raw(s.issuer) %></div>
                          <div><b>Network:</b> <%= raw(s.card_type) %></div>
                          <div><b>Credit Rating:</b> <%= raw(s.credit_rating.titlecase) %></div>
                          <div><%= raw(s.bullets) %></div>
                        </td>
                        <td>
                          <table class = "cardFeatures">
                            <tr>
                              <td><b>Minimum Deposit:</b></td>
                              <td><%= s.min_deposit %></td>
                            </tr>
                            <tr>
                              <td><b>Annual Fee</b></td>
                              <td><%= s.annual_fee.nil? ? "?" : number_to_currency(s.annual_fee) %></td>
                            </tr>
                            <tr>
                              <td><b>Monthly Fee</b></td>
                              <td><%= s.monthly_fee.nil? ? "?" : number_to_currency(s.monthly_fee) %></td>
                            </tr>
                            <tr>
                              <td><b>Purchase APR:</b></td>
                              <td><%= number_to_percentage(s.purchase_apr, :precision => 2) %> <%= raw(s.purchase_base) %></td>
                            </tr>
                            <tr>
                              <td><b>Cash APR:</b></td>
                              <td><%= number_to_percentage(s.cash_apr, :precision => 2) %> <%= raw(s.cash_base) %></td>
                            </tr>
                            <tr>
                              <td><b>Grace Period:</b></td>
                              <td><%= s.grace %></td>
                            </tr>
                            <tr>
                              <td><b>Late Fee:</b></td>
                              <td><%= s.late_fee %></td>
                            </tr>
                            <tr>
                              <td><b>Overlimit Fee:</b></td>
                              <td><%= s.overlimit_fee %></td>
                            </tr>
                            <tr>
                              <td><b>Return Item Fee:</b></td>
                              <td><%= s.return_pmt %></td>
                            </tr>
                            <tr>
                              <td><b>Max Credit Limit:</b></td>
                              <td><%= s.max_credit %></td>
                            </tr>
                            <tr>
                              <td colspan = 2><I>V=Variable, F=Fixed</I></td>
                            </tr>
                          </table>  
                        </td>
                      </tr>
                    </table>  
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <% end %>
    </tbody>    
  </table>	
    

</section>
</div>