
<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">

<head>
  	<title>The Payday Hound: Payday Loan Reviews and Independent Rankings</title>
	<meta name="description" content="Detailed, fair, independent reviews and rankings of payday and installment loans. The Payday Hound reviews more online payday loans than anyone else we know"/>
  <meta name="robots" content="noindex, nofollow">  

	<script type='application/javascript'>
	setTimeout(function() {
  		window.location.href = "<%= @lender_url.html_safe %>";
	}, 3*1000); 
	</script>

	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div id="redirect">
   	<%= image_tag("loading.gif", :alt => "loading", :size => "32x32") %></br>
   	<p span class="center">Please wait while you are redirected to the lender's application</p>
    <div id=redirect_small>
    	If you are not redirected in five seconds please 
        <%= link_to("click here", @lender_url) %></div>
   	    </br></br>
	<%= link_to(image_tag("thepaydayhound-logo.png", :alt => "www.thepaydayhound.com", :size => "150x81"), {:controller => 'home', :action => 'index'}) %>
    </div>
</div>

</body>
</html>


