
  <h2>ONE APPLICATION, MANY LENDERS</h2>
  
  <div class="msBox">Use our simple form to apply to multiple lenders at once. It's completely free with no obligation.
    <div class="msBenefits">
      <div class="msBenefitsLeft"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> No Faxing, No Calls<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Up to $1000 Cash in 24 Hours</div>
      <div class="msBenefitsCenter"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Must be 18 or older<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Instant Approvals</div>
      <div class="msBenefitsRight"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Private, Safe, and Secure<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Free. No Obligation</div>     
    </div>
    <div class="msBenefitsLast">
      <%= link_to("APPLY NOW", "https://thepaydayhound.com/payday-loan-apply/", :class => "msBenefitsApply", :target => "_parent") %>
      <div class = "msInstantDecision"><%= link_to("instant decision", "https://thepaydayhound.com/payday-loan-apply/") %></div>
    </div> 
  </div>