<div class = "criteria">
	<h2>Find a Card</h2>
		<div class="cardCalc">

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">ATM USAGE</div>
		    	<div class="cardCalcLabelDesc">Some cards charge for ATM usage</div>
		       	<div class="cardSubLabel">Balance Inquiries<span class = "calcValues"><span id="calcATMInq" ><%= @wkly_atm_bal_chk %></span> /week</span></div>
		    	<p class ="sliderBars"><div id="sliderATMInq"></div></p>
		       	<div class="cardSubLabel">Withdrawals<span class = "calcValues"><span id="calcATMCash" ><%= @wkly_atm_cash %></span> /week</span></div>
		       	
		    	<p class ="sliderBars"><div id="sliderATMCash"></div></p>
		    </div>


		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">DIRECT DEPOSIT<span class = "calcValues" id="calcDirectDep" ><%= @direct_dep ? "Yes" : "No" %></span></div>
		    	<div class="cardCalcLabelDesc">Some cards reduce fees for this</div>

		       	<p class = "calcRadios">
		       		<input type="radio" name="radioDirectDep" value="true">Yes</input>
		       		<input type="radio" name="radioDirectDep" value="false" checked = "checked">No</input>
		       	</p>
		    </div>

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">Purchases<span class = "calcValues"><span id="calcWklyTrans"><%= @wkly_trans %></span> /week</span></div>
		      <div class="cardCalcLabelDesc">Some cards charge per transaction</div>
		       	
		    	<p class = "sliderBars"><div id="sliderWklyTrans"></div></p>
		    </div>

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">LOAD<span class = "calcValues"><span id="calcWklyLoad"> <%= number_to_currency(@wkly_load, :precision => 0) %></span> /week</span></div>
		       	<div class="cardCalcLabelDesc">Higher loads can reduces fees</div>
		       	
		    	<p class ="sliderBars"><div id="sliderWklyLoad"></div></p>
		    </div>


		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">TIME<span class = "calcValues"><span id="calcPrepaidDur"> <%= @prepaid_duration %></span> months</span></div>
		       	<div class="cardCalcLabelDesc">How long will you have the card</div>
		       	
		    	<p class ="sliderBars"><div id="sliderPrepaidDuration"></div></p>
		    </div>

   	</div>
</div>

<div id = "sidebarWhyPDH">
	<h2>The Payday Hound</h2>
	<ul>
		<li><%= link_to("Why Use Us", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How We Make Money", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How Our Rankings Work", {:controller => 'infos', :action => 'why'}) %></li>
	</ul>
</div>
