<div class = "criteria">
	<h2>Find a Card</h2>
		<div class="securedCardCalc">
		    <div class = "securedCalcTitles">	
		    	<div class="securedCalcLabel">Purchases<span id="calcPurBal" class = "calcValues"><%= number_to_currency(@pur_balance, :precision => 0) %></span></div>
		       	<div class="securedCalcLabelDesc">Revolving purchase balance</div>
		       	
		    	<p><div id="sliderPurBal"></div></p>
		    </div>
			<div class = "securedCalcTitles">
   		    	<div class="securedCalcLabel">Cash Advances<span id="calcCashBal" class = "calcValues"><%= number_to_currency(@cash_balance, :precision => 0) %></span></div>
   		    	<div class="securedCalcLabelDesc">Revolving cash advance balance</div>
   		    	<p><div id="sliderCashBal"></div></p>
	    	</div>	    	
	    	<div class = "securedCalcTitles">
	    		<div class="securedCalcLabel">Time<span class = "calcValues"><span id="calcDuration"><%= @duration.ceil %></span> months</span></div>
	    		<div class="securedCalcLabelDesc">How long you will have the card</div>
	    		<p><div id="sliderDuration"></div></p>
	    	</div>
    	</div>
</div>

<div id = "sidebarWhyPDH">
	<h2>The Payday Hound</h2>
	<ul>
		<li><%= link_to("Why Use Us", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How We Make Money", {:controller => 'infos', :action => 'why'}) %></li>
		<li><%= link_to("How Our Rankings Work", {:controller => 'infos', :action => 'why'}) %></li>
	</ul>
</div>
