<% # title and description for seo %>
<% content_for :seotags do %>
<title>Best Pre-Paid Cards: In-Depth Reviews and Independent Rankings</title>
<meta name="description" content="Detailed, independent reviews and rankings of the best pre-paid cards. The Payday Hound provides more detailed reviews of pre-paid cards than anyone else we know."/>
<% end %>

<div id="wrapper">
<aside id ="sidebar">

    <%= render(:partial => "shared/prepaidfinder")%>
    <%= render(:partial => "shared/sidebar")%>

</aside>


<section id="mainContent">
  <h1>Pre-Paid Cards</h1> 
 	<p>Pre-paid cards can help manage spending and expenses. They generally have 100% approval rates and do not require a bank account or good credit. The cards themselves are often loaded with numerous fees that can be tricky to understand. Use our industry-first, Pre-Paid Card Cost Calculator to the left to help you find the pre-paid card best for you.</p>

  <span id = "prepaidCards" class = "jsData"><%= @prepaids.size %></span>
  <span id = "prepaidDuration" class = "jsData"><%= @prepaid_duration %></span>
  <span id = "wklyLoad" class = "jsData"><%= @wkly_load %></span>
  <span id = "directDep" class = "jsData"><%= @direct_dep %></span>
  <span id = "wklyTrans" class = "jsData"><%= @wkly_trans %></span>
  <span id = "wklyATMBalChk" class = "jsData"><%= @wkly_atm_bal_chk %></span>
  <span id = "wklyATMCash" class = "jsData"><%= @wkly_atm_cash %></span>
  
  <table id = "prepaidTable" class="cardListing tablesorter" summary="full prepaid list">
    <thead>    
      <tr class="securedTableHeader">
        <th><div class = "headCost">Est. Cost/Week</div></th>
        <th><div class = "headName">Company Name</div></th>
        <th class = "headDesc">Who Should Use This Card</th>
        <th><div  class = "headApply">Apply</div></th>   
      </tr>
    </thead>
    <tbody>    
      <% @prepaids.each.with_index do |p,i| %>
      <tr>
        <td class = "cardCost" id = <%="prepaidCost#{i}" %>><%= number_to_currency(
          (p.activation_fee/@prepaid_duration+ 
          (( !p.reduce_mth_fee_load_amt.nil? && @wkly_load/7*30.5 >= p.reduce_mth_fee_load_amt ) ?  p.reduce_mth_fee : (@direct_dep ? p.mth_fee_direct_dep : p.mth_fee_no_direct_deposit )))/30.5*7+
          (@wkly_trans*p.trans_fee_signature+@wkly_atm_bal_chk*p.atm_balance_inq+@wkly_atm_cash*p.atm_withdraw)) %></td>
        <td colspan = 3 class = "cardInfo">
            <table width = 100% >
              <tr>    
                <td class = "cardInfoName">
                    <div><%= link_to(image_tag("prepaid/#{p.image_file}", :alt => p.name ),  {:controller => 'partners', :action => 'go', :id => p.partner_id, :page=>@page}, :target => "_blank") %></div>
                    <div class = "cardNameUnderImage"><%= p.name %></div>
                </td>
                <td class = "cardInfoDesc">
                  <div><%= p.first_comment %></div>
                  <div><%= p.second_comment %></div>
                  <div><%= p.third_comment %></div>                  
                  <div><a href=<%="javascript:Tog(#{p.id})" %>>More Info</a></div>
                </td>  
                <td class = "cardInfoApply">
                    <%= link_to("APPLY", {:controller => 'partners', :action => 'go', :id => p.partner_id, :page=>@page}, :class => "tableApplyButton", :target => "_blank") %>
                  <div class = "cardInstantDecision"><%= link_to("instant decision", {:controller => 'partners', :action => 'go', :id => p.partner_id, :page => @page}, :target => "_blank") %></div>
                </td>
              </tr>    
              <tr>
                <td colspan = 3>
                    <table id = "<%=p.id %>" class = "cardDetails" style="overflow:hidden;display:none">
                      <tr>
                        <td class = "jsData">
                          <span id = <%="activationFee#{i}" %>><%= p.activation_fee.nil? ? 0 : p.activation_fee %></span>
                          <span id = <%="reduceMthFeeLevel#{i}" %>><%= p.reduce_mth_fee_load_amt %></span>
                          <span id = <%="reduceMthFee#{i}" %>><%= p.reduce_mth_fee %></span>              
                          <span id = <%="mthFeeDirectDep#{i}" %>><%= p.mth_fee_direct_dep.nil? ? 0 : p.mth_fee_direct_dep %></span>
                          <span id = <%="mthFeeNoDirectDep#{i}" %>><%= p.mth_fee_no_direct_deposit.nil? ? 0 : p.mth_fee_no_direct_deposit %></span>
                          <span id = <%="transFeeSig#{i}" %>><%= p.trans_fee_signature.nil? ? 0 : p.trans_fee_signature %></span>
                          <span id = <%="atmBalInq#{i}" %>><%= p.atm_balance_inq.nil? ? 0 : p.atm_balance_inq %></span>
                          <span id = <%="atmWithdraw#{i}" %>><%= p.atm_withdraw.nil? ? 0 : p.atm_withdraw %></span>

                        </td>                
                      </tr>     
                      <tr>
                        <td>
                          <div class = "cardName"><%= raw(p.card_name) %></div>
                          <div><b>Issuer:</b> <%= raw(p.issuer) %></div>
                          <div><b>Network:</b> <%= raw(p.card_type) %></div>
                          <div><%= raw(p.bullets) %></div>
                        </td>
                        <td>
                          <table class = "cardFeatures">
                            <tr>
                              <td><b>Activation Fee</b></td>
                              <td><%= number_to_currency(p.activation_fee) %></td>
                            </tr>
                            <tr>
                              <td><b>Monthly Fee<%= "*" if !p.reduce_mth_fee_load_amt.nil? %></b></td>
                              <td><%= p.mth_fee_direct_dep.nil? ? "?" : number_to_currency(p.mth_fee_direct_dep) %> w/ direct dep</td>
                            </tr>

                            <tr>
                              <td><b></b></td>
                              <td><%= p.mth_fee_no_direct_deposit.nil? ? "?" : number_to_currency(p.mth_fee_no_direct_deposit) %> no direct dep</td>
                            </tr>

                            <tr>
                              <td colspan = 2><%= "* Load #{number_to_currency(p.reduce_mth_fee_load_amt, :precision => 0)} /mth and monthy fee is #{ number_to_currency(p.reduce_mth_fee, :precision => 0)}" if !p.reduce_mth_fee_load_amt.nil? %></td>
                            </tr>

                            <tr>
                              <td><b>Usage Fee</b></td>
                              <td><%= p.trans_fee_signature.nil? ? "?" : number_to_currency(p.trans_fee_signature) %> /transaction</td>
                            </tr>
                            <tr>
                              <td><b>ATM Usage</b></td>
                              <td><%= p.atm_balance_inq.nil? ? "?" : number_to_currency(p.atm_balance_inq) %> /inquiry</td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><%= p.atm_withdraw.nil? ? "?" : number_to_currency(p.atm_withdraw) %> /withdrawal</td>
                            </tr>
                            <tr>
                              <td><b>Statements</b></td>
                              <td><%= p.paper_statement.nil? ? "?" : number_to_currency(p.atm_balance_inq) %> /paper</td>
                            </tr>
                            <tr>
                              <td><b>Max Balance</b></td>
                              <td><%= p.max_bal.nil? ? "?" : number_to_currency(p.max_bal, :precision => 0) %></td>
                            </tr>
                            <tr>
                              <td><b>Max Spend</b></td>
                              <td><%= p.max_daily_spend.nil? ? "?" : number_to_currency(p.max_daily_spend, :precision => 0) %> /day</td>
                            </tr>
                            <tr>
                              <td><b>Min Load</b></td>
                              <td><%= p.min_load.nil? ? "?" : number_to_currency(p.min_load, :precision => 0) %></td>
                            </tr>
                            <tr>
                              <td><b>Max Cash Load</b></td>
                              <td><%= p.max_cash_deposit.nil? ? "?" : number_to_currency(p.max_cash_deposit, :precision => 0) %> /day</td>
                            </tr>
                            <tr>
                              <td><b>Online Bill Pay</b></td>
                              <td><%= p.bill_pay_elec %> /electronic</td>
                            </tr>
                            <tr>
                              <td></b></td>
                              <td><%= p.bill_pay_paper %> /paper</td>
                            </tr>                            
                            <tr>
                              <td><b>Call Center</b></td>
                              <td><%= p.call_center %></td>
                            </tr>

                           
                          </table>  
                        </td>
                      </tr>
                    </table>  
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <% end %>
    </tbody>    
  </table>	
    

</section>
</div>