<!-- custom body text -->
<div class = "homeTagsBox">
	<div class = "homeTags">Simplify your credit cards</div>
	<div class = "homeTags">Store your card details in one easy place</div>
	<div class = "homeTags">Find new cards and receive alerts for better cards</div>
</div>

<div class = "homeUserOptions">
	<% if !user_signed_in? %>
		<div class = "homeSignUp"><%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %></div>
		<div class = "homeLogin"><%= link_to "login", new_user_session_path, :class => 'navbar-link'  %></div>
	<% end %>
</div>

<div class = "clearboth"></div>
<div class = "homeBoxes">
	<% if user_signed_in? %>
		<div class = "homeBoxNav"> <%= link_to('my', my_cards_path) %></div>
	<% else %>
	<div class = "homeBoxNav" id = "homeBoxNavOut"><%= link_to('my*', new_user_session_path) %></div>
	<% end %>
	<div class = "homeBoxNav"> <%= link_to('all', cards_path) %></div>
	<div class = "homeBoxNav"> <%= link_to('secured', secureds_path) %></div>
	<div class = "homeBoxNav"> <%= link_to('prepaid', prepaids_path) %></div>
</div>

<div class = "clearboth"></div>
<% if !user_signed_in? %>
<p class = "homeExplain">* login required</p>
<% end %>