<!-- custom body text -->
<div>The Simple Card</div>
<div>We simplify credit cards</div>
<div>Manage all your cards in one easy place</div>
<div>Find new cards and receive alerts for better cards</div>

<% if !user_signed_in? %>
	<div><%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %></div>
	<div><%= link_to "login", new_user_session_path, :class => 'navbar-link'  %></div>
<% end %>


<% if user_signed_in? %>
	<div class = "homeBoxNav"> <%= link_to('My Cards In', cards_path) %></div>
<% else %>
	<div class = "homeBoxNavSignedIn"> <%= link_to('My Cards Out', cards_path) %></div>
<% end %>
<div class = "homeBoxNav"> <%= link_to('All Cards', cards_path) %></div>
<div class = "homeBoxNav"> <%= link_to('Secured', secureds_path) %></div>
<div class = "homeBoxNav"> <%= link_to('Prepaid', prepaids_path) %></div>