<% # shows lenders in a table
# used by lenders and index views %>

  <h2>ONE APPLICATION, MANY LENDERS</h2>
  
  <div class="msBox">Use our simple form to apply to multiple lenders at once. It's completely free to our users.
  <div class="msBenefits">
    <div class="msBenefitsLeft"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> No Faxing, No Calls<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Up to $1000 Cash in 24 Hours</div>
    <div class="msBenefitsCenter"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Must be 18 or older<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %>Instant Approvals</div>
    <div class="msBenefitsRight"><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Private, Safe, and Secure<br><%= image_tag("check-mark.png", :size => "20x16", :alt => "*") %> Free. No Obligation</div>     
  </div>
  <div class="msBenefitsLast">
  <%= link_to("", "http://payday-loan-apply.thepaydayhound.com", :class => "msBenefitsApply") %>
  <div class="msInstantDecision"><%= link_to("instant decision", "http://payday-loan-apply.thepaydayhound.com") %></div>
  </div> 
  </div>
  <div id="clearboth"></div>
  <p>Click under each lender's logo for more in-depth reviews.</p>

  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th>Company Name</th>
     <th>Description</th>
     <th>Cost</th>
     <th>APR</th>
     <th>Sniff</th>
     <th>Rating</th>
     <th></th>   

    </tr>
    <% @lenders.each do |l| %>
    <tr>
      <td>
        <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), {:controller => 'partners', :action => 'go', :id => l.partner_id, :page => @page}) %></div>
        <div><%= !l.review_url? ? "": link_to("Full Review", l.review_url) %></div>
      </td>
      <td>
        <div><%= l.first_comment %></div>
        <div>Governing Law: <%= l.governing_law %><div>
      <td><%= l.cost.nil? ? "?" : number_to_currency(l.cost) %></td>
      <td><%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = rank<%= l.ranking.round %>><div class="ratingSpace"><%= l.ranking.round %>.0/5.0</div></td>
      <td>
          <%= link_to("APPLY", {:controller => 'partners', :action => 'go', :id => l.partner_id, :page=>@page}, :class => "tableApplyButton") %>
        <div class = "instantDecision"><%= link_to("instant decision", {:controller => 'partners', :action => 'go', :id => l.partner_id, :page => @page}) %></div>
      </td>
    </tr>
    <% end %>
  </table>