# shows lenders in a table
# used by filter and index views

  <table class="listing" summary="full lender list">
    <tr class="header">
     <th>Company Name</th>
     <th>Description</th>
     <th>Governing Law<th>     
     <th>BBB Rating</th>      
     <th>Cost</th>
     <th>APR</th>
     <th>Sniff</th>
     <th>Rating</th>   

    </tr>
    <% @lenders.each do |l| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td>
        <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), {:controller => 'lenders', :action => 'index'}) %></div>
        <div class = "fullReview"><%= link_to("Full Review", {:controller => 'lenders', :action => 'index'}) %></div>
      </td>
      <td><%= l.first_comment %></td>
      <td><%= l.governing_law %></td>
      <td><%= l.BBB_score.nil? ? "?" : l.BBB_score %></td>
      <td><%= l.cost.nil? ? "?" : number_to_currency(l.cost) %></td>
      <td><%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = rank<%= l.ranking.round %>><%= l.ranking.round %>.0/5.0</td>
      <td>
        <div><%= link_to(image_tag("apply-payday-sm.png", :alt => "apply" ), {:controller => 'partners', :action => 'go', :id => l.id, :page=>@page}) %></div>
        <div class = "instantDecision"><%= link_to("instant decision", {:controller => 'lenders', :action => 'index'}) %></div>
      </td>
      </tr>
    <% end %>
  </table> 