<% # shows lenders in a table
# used by lenders and index views %>

  <!-- calls matching service apply section -->
  <%= render(:partial => "shared/applypayday")%>
  <!-- calls matching service apply section -->

  <div id="clearboth"></div>
  <p>Click under each lender's logo for more in-depth reviews.</p>

  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th>Company Name</th>
     <th>Description</th>
     <th>Cost</th>
     <th>APR</th>
     <th>Sniff</th>
     <th>Rating</th>
     <th></th>   

    </tr>
    <% @lenders.each do |l| %>
    <tr>
      <td>
        <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), {:controller => 'partners', :action => 'go', :id => l.partner_id, :page => @page}) %></div>
        <div><%= !l.review_url? ? "": link_to("Full Review", l.review_url) %></div>
      </td>
      <td>
        <div><%= l.first_comment %></div>
        <div>Governing Law: <%= l.governing_law %><div>
      <td><%= l.cost.nil? ? "?" : number_to_currency(l.cost) %></td>
      <td><%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = rank<%= l.ranking.round %>><div class="ratingSpace"><%= l.ranking.round %>.0/5.0</div></td>
      <td>
          <%= link_to("APPLY", {:controller => 'partners', :action => 'go', :id => l.partner_id, :page=>@page}, :class => "tableApplyButton") %>
        <div class = "instantDecision"><%= link_to("instant decision", {:controller => 'partners', :action => 'go', :id => l.partner_id, :page => @page}) %></div>
      </td>
    </tr>
    <% end %>
  </table>