<% # shows lenders in a table
# used by filter and index views %>

  <table class="listing" summary="full lender list">
    <tr class="tableHeader">
     <th>Company Name</th>
     <th>Description</th>
     <th>BBB Rating</th>      
     <th>Pricing</th>
     <th>Sniff</th>
     <th>Rating</th>
     <th></th>   

    </tr>
    <% @lenders.each do |l| %>
    <tr>
      <td>
        <div><%= link_to(image_tag("lendersm/#{l.image_file}", :alt => l.name ), {:controller => 'partners', :action => 'go'}) %></div>
        <div class = "fullReview"><%= link_to("Full Review", {:controller => 'lenders', :action => 'index'}) %></div>
      </td>
      <td>
        <div><%= l.first_comment %>Governing Law: </div>
        <div><%= l.governing_law %><div>
      </td>
      <td><%= l.BBB_score.nil? ? "?" : l.BBB_score %></td>
      <td>
        <div><%= l.cost.nil? ? "?" : number_to_currency(l.cost) %></div>
        <div><%= l.apr.nil? ? "?" : number_to_percentage(l.apr*100, :precision => 0) %></div>
      </td>
      <td><%= l.sniff.sniff_desc %></td>
      <td class = rank<%= l.ranking.round %>><%= l.ranking.round %>.0/5.0</td>
      <td>
          <%= link_to("", {:controller => 'partners', :action => 'go', :id => l.id, :page=>@page}, :class => "tableApplyButton") %>
        <div class = "instantDecision"><%= link_to("instant decision", {:controller => 'partners', :action => 'go'}) %></div>
      </td>
    </tr>
    <% end %>
  </table> 