<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>


<div id ="mainContent">
  	<h1>Lenders</h1>
  	<div class = "content">
			<p>We found <%= pluralize(@lenders.size, 'lender') %> in <%= @state.state %> who provide <%= @criteria.lender_type %> loans with a Sniff score of <%= @criteria.sniff.sniff_desc %> 		and a ranking of <%= pluralize(@criteria.ranking, 'star') %> or better.</p>
			<p>Click under each lender's logo for more in-depth reviews.</p>
		</div>

    <%= render(:partial => "table")%>

</div>