<div id ="sidebar">

		<%= render(:partial => "shared/sidebar")%>


</div>


<div id ="mainContent">
  	<h1>Lenders</h1>
  	<div class = "content">
			<p>We found <%= pluralize(@lenders.size, 'lender') %> in <%= @state.state %> who provide <%= @criteria.lender_type %> loans with a Sniff score of <%= @criteria.sniff.sniff_desc %> 		and a ranking of <%= pluralize(@criteria.ranking, 'star') %> or better.</p>
			<p>Click under each lender's logo for more in-depth reviews.</p>
		</div>
  <table class="listing" summary="full lender list">
    <tr class="header">
     <th>&nbsp;</th>
     <th>Company Name</th>
     <th>Description</th>
     <th>Rating</th>
     <th>Sniff</th>
     <th>Lender Type</th>      
     <th>Cost</th>
     <th>APR</th>
    </tr>
    <% @lenders.each do |l| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= l.id %></td>
      <td><%= l.name %></td>
      <td><%= l.first_comment %></td>
      <td><%= l.ranking.round %></td>
      <td><%= l.sniff.sniff_desc %></td>
      <td><%= l.lender_type %></td>      
      <td><%= l.cost %></td>
      <td><%= l.apr %></td>
  	</tr>
    <% end %>
  </table> 
</div>