<% # title and description for seo %>
<% content_for :seotags do %>
<title>Installment Loans: In-depth Reviews and Independent Rankings</title>
<meta name="description" content="Detailed, fair, independent reviews and rankings of installment loans. The Payday Hound reviews more online  installment loan lenders than anyone else we know."/>
<% end %>

<div id="wrapper">
<aside id ="sidebar">

		<%= render(:partial => "shared/paydayfinder")%>
    <%= render(:partial => "shared/sidebar")%>
</aside>


<section id="mainContent">
  <h1>Installment Loans</h1> 
 	<p>The Payday Hound reviews online payday lenders and ranks them according our Sniff Test, costs and licensing. To learn more about payday lending visit <%= link_to('Choosing a Payday Loan', "http://www.thepaydayhound.com/choosing-a-payday-loan//") %> and <%= link_to('How Payday Loans Work', "http://www.thepaydayhound.com/how-payday-loans-work/") %>. Below is a full list of the <%= pluralize(@lenders.size, 'lender') %> we review.</p> 
	<p>Use the loan finder to the left to find a lender best for you or use our matching serivce below to apply to over 150 lenders with one simple application.</p>
    

    <%= render(:partial => "table")%>
    
    </table>  

</section>
</div>