<aisde class = "iframeSidebar">
<div class = "criteria">

<% #-- data from Rails for javaScript to use -- %>
    <span id = "directDep" class = "jsData"><%= @direct_dep %></span>
    <span id = "atmOwnerFee" class = "jsData"><%= @atm_owner_fee %></span>

    <span id = "wklyTrans" class = "jsData"><%= @wkly_trans %></span>
    <span id = "wklyATMIn" class = "jsData"><%= @wkly_atm_in_net %></span>
    <span id = "wklyATMOut" class = "jsData"><%= @wkly_atm_out_net %></span>
    <span id = "mthlyLoad" class = "jsData"><%= @mthly_load %></span>
    <span id = "mthlyLoads" class = "jsData"><%= @mthly_loads %></span>
    <span id = "wklyATMInq" class = "jsData"><%= @wkly_atm_inq %></span>
    <span id = "mthlyCalls" class = "jsData"><%= @calls %></span>    
    <span id = "prepaidDuration" class = "jsData"><%= @prepaid_duration %></span>

    <span id = "maxWklyTrans" class = "jsData"><%= @max_wkly_purchase %></span>
    <span id = "maxWklyATMIn" class = "jsData"><%= @max_wkly_atm_in_net %></span>
    <span id = "maxWklyATMOut" class = "jsData"><%= @max_wkly_atm_out_net %></span>
    <span id = "maxMthlyLoad" class = "jsData"><%= @max_mthly_load %></span>
    <span id = "maxMthlyLoads" class = "jsData"><%= @max_mthly_loads %></span>
    <span id = "maxWklyATMInq" class = "jsData"><%= @max_wkly_atm_inq %></span>
    <span id = "maxMthlyCalls" class = "jsData"><%= @max_calls %></span>    
    <span id = "maxPrepaidDuration" class = "jsData"><%= @max_prepaid_duration %></span>
<% #-- data from Rails for javaScript to use -- %>

	<h2>Find a Card</h2>
		<%= form_for(:criteria,:url => prepaids_path, :html => {:class => "cardCalc", :method => :get, :target => "_parent"} ) do |f| %>

<% # this is how javascript variables get pased. id = #criteria_<hiddenfieldname> %>
	        <%= f.hidden_field('CalcDirectDep', :value => @direct_dep) %>
					<%= f.hidden_field('CalcWklyTrans', :value => @wkly_trans) %>
	        <%= f.hidden_field('CalcATMIn', :value => @wkly_atm_in_net) %>
	        <%= f.hidden_field('CalcATMOut', :value => @wkly_atm_out_net) %>
	        <%= f.hidden_field('CalcMthlyLoad', :value => @mthly_load) %>
	        <%= f.hidden_field('CalcMthlyLoads', :value => @mthly_loads) %>	        
	        <%= f.hidden_field('CalcATMInq', :value => @wkly_atm_inq) %>
	        <%= f.hidden_field('CalcCalls', :value => @calls) %>	 
	        <%= f.hidden_field('CalcPrepaidDur', :value => @prepaid_duration) %>


		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">DIRECT DEPOSIT<span class = "calcValues" id="blogCalcDirectDep" ><%= @direct_dep ? "Yes" : "No" %></span></div>
		    	<div class="cardCalcLabelDesc">Will you use direct deposit?</div>

		       	<p class = "calcRadios">
		       		<input type="radio" name="blogRadioDirectDep" value="true" <%= "checked" if @direct_dep %>>Yes</input>
		       		<input type="radio" name="blogRadioDirectDep" value="false" <%= "checked" if !@direct_dep %>>No</input>
		       	</p>
		    </div>

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">PURCHASES<span class = "calcValues"><span id="blogCalcWklyTrans"><%= @wkly_trans %></span> /week</span></div>
		      <div class="cardCalcLabelDesc">How many will you make?</div>
		       	
		    	<p class = "sliderBars"><div id="blogSliderWklyTrans"></div></p>
		    </div>


		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">ATM WITHDRAWALS</div>
		    	<div class="cardCalcLabelDesc">How many will you make...</div>
		      <div class="cardSubLabel">In Network?<span class = "calcValues"><span id="blogCalcATMIn" ><%= @wkly_atm_in_net %></span> /week</span></div>
		    	<p class ="sliderBars"><div id="blogSliderATMIn"></div></p>
		      <div class="cardSubLabel">Out of Network?<span class = "calcValues"><span id="blogCalcATMOut" ><%= @wkly_atm_out_net %></span> /week</span></div>
		    	<p class ="sliderBars"><div id="blogSliderATMOut"></div></p>
		    </div>

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">LOADING YOUR CARD</div>
		      <div class="cardCalcLabelDesc">Deposits incld direct deposits?</div>
		      <div class="cardSubLabel">Total Deposits<span class = "calcValues"><span id="blogCalcMthlyLoad"><%= number_to_currency(@mthly_load, :precision => 0) %></span> /month</span></div>
		      <p class ="sliderBars"><div id="blogSliderMthlyLoad"></div></p>
		      <div class="cardSubLabel">Number of cash loads<span class = "calcValues"><span id="blogCalcMthlyLoads"><%= @mthly_loads %></span> /month</span></div>
		      <p class ="sliderBars"><div id="blogSliderMthlyLoads"></div></p>
		    </div>

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">ACCOUNT MAINTENANCE</div>
		    	<div class="cardCalcLabelDesc">How often will you make...</div>
		      <div class="cardSubLabel">ATM Balance Checks?<span class = "calcValues"><span id="blogCalcATMInq" ><%= @wkly_atm_inq %></span> /week</span></div>
		    	<p class ="sliderBars"><div id="blogSliderATMInq"></div></p>
		      <div class="cardSubLabel">Cust. Service calls?<span class = "calcValues"><span id="blogCalcCalls" ><%= @calls %></span> /month</span></div>		       	
		    	<p class ="sliderBars"><div id="blogSliderCalls"></div></p>
		    </divblogC

		    <div class = "cardCalcTitles">	
		    	<div class="cardCalcLabel">TIME<span class = "calcValues"><span id="blogCalcPrepaidDur"> <%= @prepaid_duration %></span> months</span></div>
		      <div class="cardCalcLabelDesc">How long will you keep the card?</div>
		    	<p class ="sliderBars"><div id="blogSliderPrepaidDuration"></div></p>
		    </div>
	      <%= submit_tag "FIND CARD", :class => "findLoanButton" %>
   	<% end %>
</div>


</aside>