<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% # This is the main layout used for all public facing views %>
<head>


	<% if content_for?(:seotags) %>
	<%= yield :seotags %>
	<% else %>
  <title>Find Your Card | Simple Card</title>
  <meta name="description" content="The Simple Card makes it easy to find the best card for you. User our service to compare credit card fees and rates based on your usage."/>
	<% end %>
	<% if content_for?(:followtags) %>
	<%= yield :followtags %>
	<% end %>
	<%= favicon_link_tag %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<%  #Add in during development test %>
  		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

	<link href='http://fonts.googleapis.com/css?family=Rock+Salt|Special+Elite|Arvo' rel='stylesheet' type='text/css'>		
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNHV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MNHV');</script>
	<!-- End Google Tag Manager -->

<div id="container">
	<div id="mainHeaderOutter">
		<header id="mainHeader">
			<div class = "userOptions">
				<% if user_signed_in? %>
				  <%= link_to 'profile', edit_user_registration_path, :class => 'navbar-link' %>
				  <%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
				  <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %>
				  <%= link_to "login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
			</div>
			<div id="logo">
				<span class = "the"><%= link_to('the', homes_path)%></span><br>
				<span class = "simple"><%= link_to('simple', homes_path)%></span><br>
				<span class = "card"><%= link_to('card', homes_path)%></span>
			</div>

			<nav>
				<div>
					<ul>
					  <li><%= link_to("Prepaid", prepaids_path) %></li>
						<li><%= link_to("Secured", secureds_path) %></li>
						<li><%= link_to("All", cards_path) %></li>
						<% if user_signed_in? %>
						<li><%= link_to("My Cards", my_cards_path) %></li>
						<% end %>
						<li><%= link_to("Home", homes_path) %></li>
					</ul>	
				</div>		
			</nav>
		</header>
	</div>
	<div id = "wrapper">
	<!-- everything between header and footer -->
  
	<div class = "deviseNotes">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	</div>
	<%= yield %>
</div>
<!-- wrap everything between header and footer -->		
		<footer>
			<div id="socialmediaicons">
				<%= link_to(image_tag("facebook.png", :alt => "Facebook" ), "http://www.facebook.com/thesimplecard", :title => "The Simple Card Facebook", target: "_blank") %>
				<%= link_to(image_tag("twitter.png", :alt => "Twitter" ), "https://twitter.com/thesimplecard", :title => "The Simple Card Twitter", target: "_blank") %>
				<%= link_to(image_tag("googleplus.png", :alt => "Google +" ), "https://plus.google.com/b/116219738293335277478/116219738293335277478/posts", :title => "The Simple Card Google", target: "_blank") %>
				<%= link_to(image_tag("linkedin.png", :alt => "LinkedIn" ), "http://www.linkedin.com/company/simple-credit-corporation", :title => "The Simple Card LinkedIn", target: "_blank") %>
			</div>
			<ul>
				 <li><%= link_to("Contact Us", {controller: "/infos", action: "contact"}) %> | </li> 				
				 <li><%= link_to("Privacy Policy", {:controller => '/infos', :action => 'privacy'}) %> | </li>    
				 <li><%= link_to("Terms of Use", {:controller => '/infos', :action => 'terms'}) %></li> 	  
			</ul>
			<div id="copyright">Copyright © 2014 Simple Credit Corp. All rights reserved.</div>
		 	<div id="disclaimer">*Disclaimer: We aim to keep information accurate and up to date, however we cannot make warranties regarding the accuracy of our information. Please verify state licensing, fees, interest rates, FDIC Insurance / NCUA Insurance status, credit card information, interest rates or other provider terms and conditions during the application process. Simple Credit Corp. may be compensated if consumers choose to utilize some of the links located throughout the content on this site and generate sales for the said merchant.</div>	
    </footer>
</div>  
</body>
</html>
