<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% #This layout is for clicks to partners from the main site. It's tables and blog articles. %>

<head>
  <title>Find Your Card | Simple Card</title>
  <meta name="description" content="The Simple Card makes it easy to find the best card for you. User our service to compare credit card fees and rates based on your usage."/>
  <meta name="robots" content="noindex, nofollow">  

  <script type='application/javascript'>
      setTimeout(function() {
        window.location.href= "<%= @lender_url.html_safe %>";
       }, 2*1000); 
  </script>

	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

 
</head>
<body>

    <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNHV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MNHV');</script>
  <!-- End Google Tag Manager -->

<%= yield %>


</body>
</html>